<section id="admin-log-in-laptop">
  <div class="container">
    <div class="row">
      <!-- Left side with the image -->
      <div class="col-lg-6 col-md-6 log-in-image">
        <img src="../../assets/images/nanny-temp.png" alt="">
      </div>
      <!-- Right side with the form -->
      <div class="col-lg-6 col-md-6 log-in-form">
        <form class="form-control" action="" method="post">
          <h2>Log In</h2>
          <!-- Admin Username -->
          <div class="form-group">
            <label for="admin-name">Admin Username</label>
            <input type="text" name="" value="" placeholder="Username">
          </div>
          <!-- Admin Password -->
          <div class="form-group">
            <label for="admin-password">Admin Username</label>
            <input type="text" name="" value="" placeholder="Password">
          </div>
          <!-- Log in button -->
          <button type="submit" name="button">Log In</button>
          <button type="reset" value="Reset">Reset</button>

          <!-- Sign up link -->
          <p>Need an account? <a href="#">Sign Up</a></p>
        </form>
      </div>
    </div>
  </div>
</section>
